<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .button-container {
            display: flex;
            gap: 10px;
        }
    </style>
</head>

<body>
    <div class="button-container">
        <form action="/members" method="get">
            <button type="submit">Members</button>
        </form>
        <form action="/books" method="get">
            <button type="submit">Books</button>
        </form>
        <form action="/myBooks" method="get">
            <button type="submit">My Books</button>
        </form>
        <form action="/logout" method="get" class="logout-button">
            <button type="submit">Logout</button>
        </form>
    </div>
    <hr>
</body>

</html>